body{
	background: url(../img/fon_lenty_radiaciya_opasnost_stena_18526_1920x1080.jpg)no-repeat center top/cover;
}
.welcometitle{
	font-size: 50px;
	text-align: center;
	color: #FFFFFF;
}
.sulka{
	margin-top: 50px;
	font-size: 30px;
	color: #FFFFFF;
	text-decoration: none;
}
table{
	font-family: Arial, sans-serif;
	margin: 0 auto;
	text-align: center;
	border-collapse: separate;
	border-spacing: 10px;
	background: #ece9e0;
	border: 16px solid #ece9e0;
	border-radius: 20px;
	margin-bottom: 50px;

}
th{
	font-size: 30px;
	padding: 20px;
	background: #464646;
	color: #FFFFFF;
}
td{
	font-size: 18px;
	padding: 20px;
	background: #ffb60d;
}
.buttonwelcome{
	margin: 50px auto;
    float: right;
}
a.buttonw1 {
	background: #FFFFFF;
	display: inline-block;
	color: black;
	font-weight: 700;
	text-decoration: none;
	user-select: none;
	padding: .5em 2em;
	outline: none;
	border: 2px solid;
	border-radius: 4px;
	transition: 0.2s;
}

a.buttonw1:hover { background: rgb(244, 80, 66); }
a.buttonw1:active { background: white; }

a.sulka:hover {
    transition: all 0.5s;
    background: rgb(244, 80, 66);;
    color: black;
}